<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment">
            <group id="ebp" translate="label" type="text" sortOrder="34" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Easebuzz Payment</label>
                <field id="active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>                
                <field id="environment" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Environment</label>
                    <source_model>Easebuzz\Ebp\Model\adminhtml\Source\Env</source_model>
                </field>
                <field id="ebkey" translate="label" type="text" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Easebuzz Key</label>
                </field>
		        <field id="ebsalt" translate="label" type="text" sortOrder="75" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Easebuzz Salt</label>
                </field>
		        <field id="debug" translate="label" type="select" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Debug</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <!-- <field id="enable_iframe" translate="label" type="select" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>iframe enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field> -->

            </group>
        </section>
    </system>
</config>
