<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <ebp>
                <model>Easebuzz\Ebp\Model\PaymentMethod</model>
                <title>Easebuzz Payment</title>
                <payment_action>Sale</payment_action>
                <visible_on_cart>1</visible_on_cart>
                <order_status>pending_payment</order_status>
            </ebp>
        </payment>
    </default>
</config>
